In [ ]:
Question 1 (What is the length of the salaries list)

In [1]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [5]:
len(salaries)

7

In [ ]:
Question 2 (Retrieve the third salary in the list by using index)

In [9]:
salaries[3]

'60k'

In [ ]:
Question 3 (Extract the last salary from the list by using a negative index)

In [11]:
salaries[-1]

'40k'

In [ ]:
Question 4 (Slice the salaries list to get only the middle three salaries)

In [15]:
salaries[2:5]

['50k', '60k', '35k']

In [ ]:
Question 5 (Add a new salary to the list, ‘100k’ by using append() method)

In [17]:
salaries.append('100K')

In [21]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100K']

In [ ]:
Question 5A (Add a new salary to the list, ‘120k’ without method)

In [27]:
salaries = salaries+['120K']

In [29]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100K', '120K']

In [ ]:
Question 6 (Replace the third salary in the list with '55k' and print the updated list)

In [43]:
salaries[2]='55k'

In [45]:
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100K', '120K']

In [ ]:
Question 7 (Count how many times '40k' appears in the list)

In [47]:
salaries.count('40k')

2

In [ ]:
Question 8 (Insert a new salary at the second position)

In [49]:
salaries.insert(1,'10k')

In [51]:
salaries

['20k', '10k', '40k', '55k', '60k', '35k', '89k', '40k', '100K', '120K']

In [ ]:
Question 9 (Reverse the order of the salaries list with method)

In [53]:
salaries.reverse()

In [55]:
salaries

['120K', '100K', '40k', '89k', '35k', '60k', '55k', '40k', '10k', '20k']

In [ ]:
Question 10 (Reverse the order of the salaries list without method)

In [57]:
salaries=salaries[::-1]

In [59]:
salaries

['20k', '10k', '40k', '55k', '60k', '35k', '89k', '40k', '100K', '120K']

In [61]:
salaries[::]

['20k', '10k', '40k', '55k', '60k', '35k', '89k', '40k', '100K', '120K']